{% extends 'base.html' %}

{% block title %}
    Seznam útulků
{% endblock %}

{% block content %}
    <h2>Galerie útulků</h2>
    <div class="row bg-dark p-3">
    {% for utulek in utuluky %}
        <div class="col-lg-2 col-md-3">
            <img src="{{ utulek.fotografie.url }}"
                 class="img-fluid rounded"
                 alt="{{ utulek.name }}">
            <p><a href="{% url 'utulek_detail' utulek.id %}">{{ utulek.name }}</a></p>
        </div>
    {% endfor %}
    </div>
{% endblock %}